# Environment files
.env

# Node modules
node_modules/

# Build files
dist/
build/

# Logs
*.log

# IDE
.vscode/

# Vercel local project metadata
.vercel/

# Frontend
scfmp-frontend/node_modules/
scfmp-frontend/dist/

# Backend
scfmp-backend/node_modules/

.env.local
.env.*.local
